<ul class="list-reset flex flex-col">
  <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
    <a href="javascript:;" routerLink="" class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
      <i class="fas fa-tachometer-alt float-left mx-2" style="margin-top:5px;"></i>
      Dashboard
      <span><i class="fas fa-angle-right float-right"></i></span>
    </a>
  </li>
  <li class="w-full h-full py-3 px-2 border-b border-light-border">
    <a href="javascript:;" routerLink="/books" class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
      <i class="fab fa-wpforms float-left mx-2" style="margin-top:5px;"></i>
      Books
      <span><i class="fa fa-angle-right float-right"></i></span>
    </a>
  </li>
</ul>

