<div class="flex flex-col">
  <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
    <div class="shadow bg-success border-l-8 hover:bg-success-dark border-success-dark mb-2 p-2 md:w-1/4 mx-2">
      <div class="p-4 flex flex-col">
        <a href="javascript:;" routerLink="/books" class="no-underline text-white text-2xl">
          {{bookCount}}
        </a>
        <a href="javascript:;" routerLink="/books" class="no-underline text-white text-lg">
          Total Products
        </a>
      </div>
    </div>
  </div>
</div>
